<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated soccer -->
      <package
            uri="platform:/resource/no.ntnu.soccer.model/model/soccer.ecore"
            class="soccer.SoccerPackage"
            genModel="model/soccer.genmodel"/>
   </extension>

</plugin>
