<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated soccer -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="no.ntnu.soccer.model.soccer.presentation.SoccerModelWizardID"
            name="%_UI_SoccerModelWizard_label"
            class="no.ntnu.soccer.model.soccer.presentation.SoccerModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SoccerModelFile.gif">
         <description>%_UI_SoccerModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated soccer -->
      <editor
            id="no.ntnu.soccer.model.soccer.presentation.SoccerEditorID"
            name="%_UI_SoccerEditor_label"
            icon="icons/full/obj16/SoccerModelFile.gif"
            extensions="soccer"
            class="no.ntnu.soccer.model.soccer.presentation.SoccerEditor"
            contributorClass="no.ntnu.soccer.model.soccer.presentation.SoccerActionBarContributor">
      </editor>
   </extension>

</plugin>
